# Experimentos realizados

In [9]:
import pandas as pd

path = 'C:\\Users\\vanza\\Documents\\Codes\\ime\\am-malware\\frontend\\results-v7.csv'
df = pd.read_csv(path, sep=';', decimal=',')
df

,id,dataset,model,limit,fold,chunk,epochs,batch,version,good,bad,accuracy,f1_macro,system,node,train_loss,train_runtime
0,1,big2015,gpt2,1024,1,32,1,1,3,NaN,NaN,NaN,NaN,Linux,se9-nuvem,NaN,NaN
1,2,big2015,gpt2,1024,1,32,1,1024,3,NaN,NaN,NaN,NaN,Linux,se9-nuvem,NaN,NaN
2,3,big2015,gpt2,1024,1,32,1,16,3,1062.0,20.0,98.1500,NaN,Linux,se9-nuvem,0.276643,4480.2399
3,4,big2015,gpt2,1024,1,32,1,160,2,1051.0,32.0,97.0500,NaN,NaN,NaN,0.364946,481.8338
4,5,big2015,gpt2,1024,1,32,1,160,3,1058.0,24.0,97.7800,NaN,NaN,NaN,0.364082,474.7586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,639,malv2022,gpt2,all,5,32,1,160,3,2315.0,113.0,95.3460,0.9510,Windows,AORUS,0.138079,2464.4995
639,640,malv2022,gpt2,all,6,32,1,160,3,2350.0,77.0,96.8274,0.9668,Windows,AORUS,0.138198,2463.4033
640,641,malv2022,gpt2,all,7,32,1,160,3,2312.0,116.0,95.2224,0.9498,Windows,AORUS,0.136349,2720.5428
641,642,malv2022,gpt2,all,8,32,1,160,3,2327.0,101.0,95.8402,0.9563,Windows,AORUS,0.136475,2787.7692
642,643,malv2022,gpt2,all,9,32,1,160,3,2315.0,112.0,95.3852,0.9514,Windows,AORUS,0.136812,2796.1238

## Experimento 1

In [12]:
df1 = df[(df['model']=='gpt2') & (df['limit']=='1024') & (df['chunk']==32) & (df['epochs']==1) & (df['batch']==16) & (df['version']==3)]
df1 = df1.sort_values('fold')

df_big2015 = df1[(df['dataset']=='big2015')]
df_big2015

C:\Users\vanza\AppData\Local\Temp\ipykernel_28392\675089447.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_big2015 = df1[(df['dataset']=='big2015')]

,id,dataset,model,limit,fold,chunk,epochs,batch,version,good,bad,accuracy,f1_macro,system,node,train_loss,train_runtime
2,3,big2015,gpt2,1024,1,32,1,16,3,1062.0,20.0,98.15,NaN,Linux,se9-nuvem,0.276643,4480.2399
35,36,big2015,gpt2,1024,2,32,1,16,3,1089.0,31.0,97.23,NaN,Linux,se9-nuvem,0.275093,4440.8388
52,53,big2015,gpt2,1024,3,32,1,16,3,1064.0,17.0,98.43,NaN,Linux,se9-nuvem,0.272946,4429.1636
69,70,big2015,gpt2,1024,4,32,1,16,3,1048.0,34.0,96.86,NaN,Linux,se9-nuvem,0.268109,4456.6712
86,87,big2015,gpt2,1024,5,32,1,16,3,1057.0,25.0,97.69,NaN,Linux,se9-nuvem,0.271132,4446.8952
103,104,big2015,gpt2,1024,6,32,1,16,3,1060.0,22.0,97.97,NaN,Linux,se9-nuvem,0.270346,4452.6345
120,121,big2015,gpt2,1024,7,32,1,16,3,1057.0,25.0,97.69,NaN,Linux,se9-nuvem,0.275657,4439.2716
137,138,big2015,gpt2,1024,8,32,1,16,3,1058.0,24.0,97.78,NaN,Linux,se9-nuvem,0.273021,4450.5003
154,155,big2015,gpt2,1024,9,32,1,16,3,1053.0,29.0,97.32,NaN,Linux,se9-nuvem,0.276377,4447.8474
19,20,big2015,gpt2,1024,10,32,1,16,3,1059.0,24.0,97.78,NaN,Linux,se9-nuvem,0.272686,4456.2201

In [6]:
df1.to_latex()

'\\begin{tabular}{lrllrrrrrrrrllr}\n\\toprule\n & id & model & limit & fold & chunk & epochs & batch & version & good & bad & accuracy & system & node & train_runtime \\\\\n\\midrule\n285 & 286 & gpt2 & all & 1 & 32 & 1 & 160 & 2 & 1075.000000 & 8.000000 & 99.260000 & NaN & NaN & NaN \\\\\n292 & 293 & gpt2 & all & 2 & 32 & 1 & 160 & 2 & 1093.000000 & 28.000000 & 97.500000 & NaN & NaN & 49686.230900 \\\\\n295 & 296 & gpt2 & all & 3 & 32 & 1 & 160 & 2 & 1071.000000 & 11.000000 & 98.980000 & NaN & NaN & 50470.972600 \\\\\n298 & 299 & gpt2 & all & 4 & 32 & 1 & 160 & 2 & 1066.000000 & 17.000000 & 98.430000 & NaN & NaN & 34021.973800 \\\\\n301 & 302 & gpt2 & all & 5 & 32 & 1 & 160 & 2 & 1064.000000 & 16.000000 & 98.520000 & NaN & NaN & 55460.597200 \\\\\n304 & 305 & gpt2 & all & 6 & 32 & 1 & 160 & 2 & 1063.000000 & 18.000000 & 98.330000 & NaN & NaN & 49351.765600 \\\\\n311 & 312 & gpt2 & all & 7 & 32 & 1 & 160 & 2 & 1067.000000 & 14.000000 & 98.700000 & NaN & NaN & 47658.457700 \\\\\n314 & 315 & gpt2 & all & 8 & 32 & 1 & 160 & 2 & 1074.000000 & 9.000000 & 99.170000 & NaN & NaN & 49550.879100 \\\\\n317 & 318 & gpt2 & all & 9 & 32 & 1 & 160 & 2 & 1067.000000 & 16.000000 & 98.520000 & NaN & NaN & 49516.970900 \\\\\n290 & 291 & gpt2 & all & 10 & 32 & 1 & 160 & 2 & 1068.000000 & 13.000000 & 98.800000 & NaN & NaN & 49896.884500 \\\\\n\\bottomrule\n\\end{tabular}\n'

## Experimento 2
- K-Fold com 10 partiÃ§Ãµes
- 2 Ã©pocas

In [5]:
df2 = df[(df['limit']=='all') & (df['epochs']==2)]
df2

,id,dataset,model,limit,fold,chunk,epochs,batch,version,good,bad,accuracy,system,node,train_runtime
286,287,big2015,gpt2,all,1,32,2,160,2,1074.0,9.0,"99,17",NaN,NaN,NaN
291,292,big2015,gpt2,all,10,32,2,160,2,1071.0,10.0,"99,07",NaN,NaN,"31260,3976"
293,294,big2015,gpt2,all,2,32,2,160,2,1100.0,21.0,"98,13",NaN,NaN,"109839,5136"
296,297,big2015,gpt2,all,3,32,2,160,2,1071.0,11.0,"98,98",NaN,NaN,"105110,228"
299,300,big2015,gpt2,all,4,32,2,160,2,1067.0,16.0,"98,52",NaN,NaN,"103747,7147"
302,303,big2015,gpt2,all,5,32,2,160,2,1065.0,15.0,"98,61",NaN,NaN,"87078,7587"
305,306,big2015,gpt2,all,6,32,2,160,2,1070.0,11.0,"98,98",NaN,NaN,"44001,4313"
312,313,big2015,gpt2,all,7,32,2,160,2,1068.0,13.0,"98,8",NaN,NaN,"99978,4332"
315,316,big2015,gpt2,all,8,32,2,160,2,1074.0,9.0,"99,17",NaN,NaN,"101216,6512"
318,319,big2015,gpt2,all,9,32,2,160,2,1070.0,13.0,"98,8",NaN,NaN,"103251,5595"
347,348,big2015,gpt2,all,1,32,2,160,3,NaN,NaN,NaN,Windows,AORUS,NaN

## Experimento 3
- K-Fold apenas partiÃ§Ã£o 6
- Ã‰pocas aumentando de 1 a 7

In [4]:
df3 = df[(df['limit']=='all') & (df['fold']==6)]
df3

,id,model,limit,fold,chunk,epochs,batch,version,good,bad,accuracy,system,node,train_runtime
304,305,gpt2,all,6,32,1,160,2,1063.0,18.0,98.33,NaN,NaN,49351.7656
305,306,gpt2,all,6,32,2,160,2,1070.0,11.0,98.98,NaN,NaN,44001.4313
306,307,gpt2,all,6,32,3,160,2,1073.0,8.0,99.26,NaN,NaN,165992.0488
307,308,gpt2,all,6,32,4,160,2,1075.0,6.0,99.44,Windows,AORUS,239035.1907
308,309,gpt2,all,6,32,5,160,2,1076.0,5.0,99.54,Windows,AORUS,293604.3796
309,310,gpt2,all,6,32,6,160,2,1075.0,6.0,99.44,Windows,AORUS,186488.5411
310,311,gpt2,all,6,32,7,160,2,1074.0,7.0,99.35,Windows,AORUS,376618.2480

## Experimento 4
- K-Fold apenas partiÃ§Ã£o 1
- Ã‰pocas aumentando de 1 a 7

In [5]:
df4 = df[(df['limit']=='all') & (df['fold']==1)]
df4

,id,model,limit,fold,chunk,epochs,batch,version,good,bad,accuracy,system,node,train_runtime
285,286,gpt2,all,1,32,1,160,2,1075.0,8.0,99.26,NaN,NaN,NaN
286,287,gpt2,all,1,32,2,160,2,1074.0,9.0,99.17,NaN,NaN,NaN
287,288,gpt2,all,1,32,3,160,2,1075.0,8.0,99.26,NaN,NaN,156008.4755
288,289,gpt2,all,1,32,5,160,2,1073.0,10.0,99.08,NaN,NaN,203965.1455
289,290,gpt2,all,1,32,6,160,2,1074.0,9.0,99.17,NaN,NaN,148556.4585

## Experimento 5
- K-Fold com 10 partiÃ§Ãµes
- 3 Ã©pocas

In [8]:
df5 = df[(df['limit']=='all') & (df['epochs']==3)]
df5

,id,model,limit,fold,chunk,epochs,batch,version,good,bad,accuracy,system,node,train_runtime
287,288,gpt2,all,1,32,3,160,2,1075.0,8.0,99.26,NaN,NaN,156008.4755
294,295,gpt2,all,2,32,3,160,2,1104.0,17.0,98.48,NaN,NaN,156133.7282
297,298,gpt2,all,3,32,3,160,2,1071.0,11.0,98.98,NaN,NaN,186653.9385
300,301,gpt2,all,4,32,3,160,2,1070.0,13.0,98.80,NaN,NaN,185572.4510
303,304,gpt2,all,5,32,3,160,2,1065.0,15.0,98.61,NaN,NaN,197451.2037
306,307,gpt2,all,6,32,3,160,2,1073.0,8.0,99.26,NaN,NaN,165992.0488
313,314,gpt2,all,7,32,3,160,2,1069.0,12.0,98.89,NaN,NaN,175803.0304
316,317,gpt2,all,8,32,3,160,2,1074.0,9.0,99.17,Windows,AORUS,180952.0104